.heart-icon {
  font-size: 30px !important;
}

.cart-icon {
  font-size: 30px !important;
}

/* .search-bar {
  width: 350px;
} */


.image-holder {
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 900px;
  margin: auto;
}

.recommended-books {
  width: 90px !important;
  cursor: pointer;
}
