.heart-icon {
  font-size: 30px !important;
}

.cart-icon {
  font-size: 30px !important;
}
.image-holder {
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 900px;
  margin: 0 auto;
}

.recommended-books {
  width: 90px !important;
  cursor: pointer;
}


.results-books {
  width: 150px !important;
  height: 220px !important;
}

.more-info-image {
  width: 200px;
}

.cart-ul {
  list-style-type: none;
  padding-left: .6rem !important;
}

ul {
  list-style-type: none;
}

li {
  position: relative;
}

.price {
  position: absolute;
  bottom: 0;
  left: 10rem;
}

.quantity {
  position: absolute;
  bottom: 0;
  right: 1rem;
}

.cartList {
  margin: 0 auto !important;
}

.checkoutImage {
  width: 128px;
  height: 194px !important;
}

.bannerImg {
  max-height: 250px !important;
}

.wishlist-text {
  padding-top: 4rem;
}

.stars {
  padding-left: 0;
}

.wishlist-price {
  padding-top: 4rem;
}

.wishlist {
  max-width: 1000px !important;
}

.seal {
  max-width: 300px !important;
}
